---
import { getCollection } from 'astro:content';
const html = await Astro.slots.render('default');
import { Code } from 'astro/components';

const articles = await getCollection('articles', ({ data }) => {
	if (!data.inProgress) {
		return {
			article: {
				title: data.title,
				description: data.description,
				link: data.link,
				img_alt: data.img_alt,
				img_src: data.img_src,
				tags: data.tags,
			},
		};
	}
});

function getBeginOfText(text, length) {
    return text.substring(0, length);
}
---

<section data-testid="articles" id="articles" class="flex flex-col items-center justify-center w-full h-auto p-5 bg-white dark:bg-black">
	<h2 class="font-monospace text-2xl text-blue lg:text-4xl">Articles</h2>
	<div class="flex flex-wrap justify-center">
		{
            articles.map((article) => (
                <a href={article.data.link} class="m-5 p-5 border-2 border-blue rounded-lg w-96 h-auto">
                    <div>
                        <p class="font-monospace text-xl dark:text-blue text-black">{article.data.title}</p>
                        <img src={article.data.img_src} alt={article.data.img_alt} class="w-64 h-64 mx-auto rounded-lg my-5 border-blue border-8 dark:bg-transparent bg-black" />
                        <span class="font-monospace text-lg dark:text-blue text-black">
                            <Fragment set:html={(getBeginOfText(article.data.description, 96) + '...')}></Fragment>
                        </span>
                        <div class="flex flex-wrap justify-center mt-3">
                            {
                                article.data.tags.map((tag) => (
                                    <span class="font-monospace text-lg text-black mx-5 bg-blue p-1 rounded-lg">#{tag}</span>
                                ))
                            }
                        </div>
                    </div>
                </a>
            ))
        }
	</div>
</section>
